/* Estilos Gerais */
body {
    margin: 0;
    padding: 0;
    background-color: #121212;
    font-family: Arial, sans-serif;
    color: white;
    font-size: 18px; /* Aumentando o tamanho da fonte */
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #1a1a1a;
    color: white; /* Cor do texto do menu alterada para branco */
}

.navbar a {
    color: white; /* Mudando a cor dos links para branco */

}

/* Seções */
.hero, .portfolio, .cta {
    padding: 20px;
    text-align: center;
}

/* Itens do Portfólio */
.portfolio-item {
    margin: 20px 0;
}

/* Botões */
.background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; /* Para ficar atrás do conteúdo */
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}


button:hover {
    background-color: #0056b3;
}

/* Classe específica para o botão "Visitar Site" */
.btn-visitar-site {
    background-color: #007bff; /* Azul */
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.btn-visitar-site:hover {
    background-color: #0056b3; /* Azul escuro ao passar o mouse */
}

/* Avatar */
.avatar {
    display: block;
    margin: 0 auto;
    width: 150px; /* Ajuste o tamanho conforme necessário */
    border-radius: 50%; /* Para um efeito de círculo */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para profundidade */
}
